/////// import google font //////
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

/////// import reset CSS setting ///////
@import "./resetCSS";

@mixin getStepNumber($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i})  .main__customer__step__number::after {
        content:"#{$i}";
        font-family: 'Nunito Sans', sans-serif;
        font-size: 5px;
        font-weight: 700;
      }
  }
}

////// common setting //////////////
* {
  // border: 1px solid red;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Noto Sans TC', sans-serif;
}

%icon {
  width: 1.5rem;
  height: 1.5rem;
}

%icon_minus_plus_line {
  background: black;
  height: 1.8px;
  width: 10.84px;
  position: absolute;
  left: 50%;
  top: 50%;
}

%input_select_border {
  border: 1px solid #4A4A4A;
  border-radius: 4px;
  height: 40px;
  width: 100%;
  text-indent: 1.125rem;
  font-size: 0.75rem;
}

%label_font {
  display:block;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  color: #808080;
  margin-bottom: 8px;
}

.border-top {
  border-top: 1px solid #F0F0F5;
}

.d-none {
  display: none;
}

.number-font {
  font-family: 'Nunito Sans', sans-serif;
}

//////indivisual component setting ///
body {
  position: relative;
  overflow-y: scroll;
  // min-height: 800px;
}

#main-app {
  width: 100%;
  // height: 100%;
  margin: 0 auto;
  position: relative;
  padding-left: 15%;
  padding-right: 15%;
}

.nav {
  margin-top: 30px;
  position:relative;
  &__logo {
    width: 10.6rem;
    height: 1.875rem;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &__icons {
    width: 132px;
    &__icon {
    @extend %icon;
    }
  }
  &__hambergur {
    &__icon {
      display: none;
    }
    &__input {
      display: none;
    }
  }
  .material-icons {
    cursor: pointer;
  }
}

main {
  margin-top: 80px;
  h1 {
    margin-bottom: 48px;
  }
}

.main {
  &__customer {
    position: relative;
    #step-conntainer {
      margin-bottom: 64px;
      width: 100%;
    }
    &__step {
      font-family: 'Nunito Sans', sans-serif;
      @include getStepNumber(3);
      span:first-child {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid #AFB1BD;
        color: #AFB1BD;
        margin-bottom: 2px;
      }
      span:nth-child(2){
        color: #AFB1BD;
        &.title_active {
          color: black;
        }
      }
      div {
        width: 60px;
        height: 1px;
        background: black;
        // transform: translateX(-20%);
      }
      .main__customer__step__number {
        &.checked::after {
          content:"\2714";
          color:white;
        }
        &.checked {
          background: #333333;
          border: 1px solid #333333;
        }
        &.active::after {
          color: #333333;
        }
        &.active {
          border: 1px solid black;
        }
      }
    }
    &__part {
      &.shippingInfo {
        label {
          @extend %label_font;
        }
        input, select {
          @extend %input_select_border;
        }
        select option:first-child {
          color:white;
        }
        .salution_name, .county_address {
          div:first-child{
            width: 29.6%;
          }
          div:nth-child(2) {
            width: 64.8%
          }
        }
        .phone_email {
          div {
            width: 47.2%;
          }
        }
      }
      &.shippingMethod {
        .standardDelivery, .dhlDelivery {
          position: relative;
          @extend %input_select_border;
          border: 1px solid #F0F0F5;
          width: 80.5%;
          height: 60px;
          text-indent: initial;
          p:first-child{
            font-size: 0.875rem;
          }
          p:nth-child(2), span{
            font-size: 0.75rem;
          }
          input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            box-sizing: initial;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            border: 1px solid #F0F0F5;
            transition: 0.2s all linear;
            &:checked {
              border: 1px solid black;
              box-shadow: inset 0 0 0 7px black;
              &::before {
                border: 1px solid #2A2A2A;
                width: 100%;
                height: 100%;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 4px;
              }
            }
          }
        }
      }
      &.paymentInfo {
        div{
          &:nth-of-type(2) {
            width:100%;
          }
        };
        label {
          @extend %label_font;
        }
        input {
          @extend %input_select_border;
        }
        div:nth-child(2), div:nth-child(3) {
          width: 64.8%;
        }
        div:nth-child(4)  {
          div {
            width: 47.2%;
          }
        }
      }
    }
    &__button {
      width: 100%;
      height: 72px;
      border-top: 2px solid #E6E6EB;
      #previous-btn{
        margin-bottom: 14.5px;
      }
      #next-btn{
        width: 174px;
        height: 46px;
        background: #F67599;
        border-radius: 8px;
        color: white;
        span {
          color: white;
        }
      }
      button {
        span {
          margin-left: 13.5px;
          margin-right: 13.5px;
        }
      }
    }
  }
  &__cart {
    border: 1px solid #F0F0F5;
    box-sizing: border-box;
    border-radius: 8px;
    h3 {
      line-height: 22px;
      font-weight: 700;
    }
    &__img {
      width: 100px;
      height: 100px;
    }
    &__item {
      &__container {
        position: absolute;
        left: 121px;
        &__quantity {
          width: 116px;
          height: 27px;
          font-size: 14px;
          &__icon {
            width: 27px;
            height: 100%;
            background: #F0F0F5;
            border-radius: 50%;
            position: relative;
            &__minus {
              @extend %icon_minus_plus_line;
              transform: translate(-50%, -50%);
            }
            &__plus {
              @extend %icon_minus_plus_line;
              transform: translate(-50%, -50%) rotate(90deg);
            }
          }
          span:nth-child(2) {
            font-weight: 500;
          }
        }
      }
      &__price {
        font-weight: 700;
      }
    }
    &__deliveryFee {
      span:nth-child(2){
        font-weight: 700;
      }
    }
    &__totalPrice {
      div {
        span {
        font-weight: 700;
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 200px;
  background: #E5E5E5;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 150px;
  a {
    display: block;
  }
  .footer {
    &__logo {
      width: 175.49px;
      height: 31px;
      margin-top: 8vh;
    }
    &__icon {
      @extend %icon;
    }
    &__link{
      line-height: 1.5rem;
      &__container {
        margin-top: 3vh;
      }
      a {
        color: #808080;
      }
      div {
        img {
          margin-right: 0.5rem;
        }
      }
    }
  }
}

// .footer__bkg__color {
//   width: 100%;
//   height: 20vh;
//   background: #E5E5E5;
//   z-index: -1;
//   margin: 0 auto;
// }

// @media screen and (max-device-width: 1400px) {
//   #main-app {
//     width: 100%;
//   }
// }

@media screen and (max-device-width: 375px) {
  #main-app {
    min-width: 375px;
    padding-left: 15px;
    padding-right: 15px;
  }
  main {
    margin-top: 37px;
    #main_container {
      flex-direction: column;
      align-items: center;
    }
  }
  .main {
    &__customer, &__cart {width: 100%;}
    &__customer {
      &__button {
        display:none;
        &#main_customer_button--mobile {
          display: flex;
          padding-bottom: 40px;
          height: auto;
          #next-btn {
            width: 100%;
          }
        }
      }
      &__step {
        span:nth-child(2){display:none;}
      }
      &__part {
        margin-bottom: 30px;
        &.shippingInfo {
          input, select {
            text-indent: 0.4rem;
          }
          .phone_email, .county_address {
            flex-direction: column;
            div:first-child, div:nth-child(2) {
              margin-top: 10px;
              width:100%;
            }
          }
        }
        &.shippingMethod {
          .standardDelivery, .dhlDelivery {
            width: 100%;
          }
        }
        &.paymentInfo {
          div:nth-child(2), div:nth-child(3) {
            width: 100%;
          }
        }
      }
    }
    &__cart {
      &__item {
        flex-direction: column;
        &__container {
          left: initial;
          right: 0;
          &__quantity {
           position: absolute;
           right: 0;
          }
        }
        &__price {
          text-align: right;
        }
      }
    }
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
    &__links {
      width: 100%;
      max-height: 0;
      overflow: hidden;
      flex-direction: column;
      clear: both;
      background: #fff;
      span {
        text-align: center;
        border-bottom: 1px solid #efefef;
        padding: 10px 0;
        font-size: 18px;
        color: #5d5d5d;
        &:hover {
            background: #5d5d5d;
            color: #fff;
        }
      }
    }
    &__icons {
      width: 30%;
      display:none;
      margin: 0 auto;
      padding: 10px 0;
    }
    &__hambergur {
      &__icon {
        display: flex;
      }
      &__input {
        &:checked ~ #nav__links {
          max-height: initial;
        }
        &:checked ~ #nav__icons {
          display: flex;
        }
      }
    }
  }
  .footer {
    display: none;
  }
  #main_customer_button--1010px {
    display: initial;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}


